# %title%

**_Author: Jessica Cervi_**

**Expected time = %expected_time%**

**Total points = 45 points**

    
## Assignment Overview


In this assignment you will work with the pandas concepts you learned to examine and clean Data in a DataFrame.  You will use the concept of Tidy Data and to explore different ways of cleaning Data, such as filling in missing values or getting rid of duplicates. 


This assignment is designed to build your familiarity and comfort coding in Python while also helping you review key topics from each module. As you progress through the assignment, answers will get increasingly complex. It is important that you adopt a data scientist's mindset when completing this assignment. **Remember to run your code from each cell before submitting your assignment.** Running your code beforehand will notify you of errors and give you a chance to fix your errors before submitting. You should view your Vocareum submission as if you are delivering a final project to your manager or client. 

***Vocareum Tips***
- Do not add arguments or options to functions unless you are specifically asked to. This will cause an error in Vocareum.
- Do not use a library unless you are expicitly asked to in the question. 
- You can download the Grading Report after submitting the assignment. This will include feedback and hints on incorrect questions. 


### Learning Objectives

- Examine and clean data to prepare data  for analysis.  
- Describe the key components of Tidy Data. 
- Practice cleaning data across data types.

## Index:


#### %title%

- [Question 1](#Question-1)
- [Question 2](#Question-2)
- [Question 3](#Question-3)
- [Question 4](#Question-4)
- [Question 5](#Question-5)
- [Question 6](#Question-6)
- [Question 7](#Question-7)
- [Question 8](#Question-8)
- [Question 9](#Question-9)

## %title%

In this assignment you will examine and clean data using pandas. You will also use the Tidy Data framework as you solve new data cleaning problems. In this assignment we will use a dataset that describes sample grading of the students in a course.It includes columns for the enrollment numbers in each course and grades for each assignment. More detailed information about the dataset can be found [here](https://www.kaggle.com/tanmoyie/grading-of-the-students-in-the-exam-or).



### Inspecting your Data

We will begin this assignment by inspecting the data. In this step, we want to visualize the data and look for ways to make the dataset more usable for our research questions. We will rename the Class Roll column to Enrollment, which may help us remember what this represents. We will then convert the entries of the Enrollment column from integers to floats. 

We will review the attributes .shape, .info and .columns

We will begin by importing the necessary libraries for this assignment and by reading the dataset.

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./data/grading.csv")

Next, we will use the command `.head()` to visualize the first 10 rows of our DataFrame

In [2]:
df.head(10)

,Class Roll,CT-1 (Marks: 20),CT-2 (Marks: 20),CT-3 (Marks: 20),CT-4 (Marks: 20),CT-5 (Marks: 20),"Class Test (Total of best 4, Marks: 80)",Attendance (Marks: 20),Observation (Marks: 20),Total (Marks: 120),Sec A (140),Sec B,Final Mark
0,100,8.5,2.0,11,12.0,16.0,47.5,20,17,84.5,57,93.0,58.625
1,101,7.0,3.0,9,15.0,11.0,42.0,20,8,70.0,83,55.0,52.000
2,102,11.5,3.0,14,14.0,9.0,48.5,20,14,82.5,77,69.0,57.125
3,103,6.0,4.0,12,16.0,13.0,47.0,20,15,82.0,enter first 2 digits of ur roll number,88.0,42.500
4,104,8.0,4.5,15,0.0,14.0,41.5,20,12,73.5,71,31.0,43.875
5,105,12.0,5.0,12,14.0,13.0,51.0,20,10,81.0,68,93.0,60.500
6,106,14.0,NaN,14,15.0,18.0,61.0,20,18,99.0,110,86.0,73.750
7,107,3.5,5.0,8,NaN,13.0,40.0,20,10,70.0,67,11.0,37.000
8,108,14.0,5.0,0,16.0,7.0,42.0,16,10,68.0,49,58.0,43.750
9,109,1.0,5.0,0,0.0,2.0,8.0,20,10,38.0,88,79.0,51.250

[Back to top](#Index:) 

### Question 1
*5 points*

Retrieve the number of rows of the DataFrame df and assign the value as an integer to ans1.

In [3]:
### GRADED

### YOUR SOLUTION HERE
ans1 = None 

### BEGIN SOLUTION
ans1 = df.shape[0]
### END SOLUTION

In [4]:
### BEGIN HIDDEN TESTS (5)
ans1_= df.shape[0]
#
#
#
assert ans1 == ans1_, "Remember that the dimensions of a DataFrame are returned as a tuple by the attribute .shape"
print("Correct!")
### END HIDDEN TESTS

Correct!

[Back to top](#Index:) 

### Question 2
    
*5 points*

What does the attribute `.columns` return? 
- a) A dictionary that has column labels as keys and the mean of each column as values. 
- b) The number of columns in the DataFrame.
- c) The column labels of the DataFrame.
- d) An empty DataFrame with the column labels.

Assign the letter corresponding to your choice as a string to `ans2`.

In [5]:
### GRADED

### YOUR SOLUTION HERE
ans2 = None 

### BEGIN SOLUTION
ans2 = "c"
### END SOLUTION

In [6]:
### BEGIN HIDDEN TESTS (5)
ans2_= "c"
#
#
#
assert ans2 == ans2_, "Remember that .columns return just the labels"
print("Correct!")
### END HIDDEN TESTS

Correct!

[Back to top](#Index:) 

### Question 3
    
*5 points*

Use the `.rename()` function in `pandas` to rename the column `Class Roll` to `enrollment` and assign this to a new DataFrame called `df3`.

__Note: questions 3, 4, and 5 are related and need to be solved in sequence.__

In [7]:
### GRADED

### YOUR SOLUTION HERE
df3 = None 

### BEGIN SOLUTION
df3 = df.rename(columns={'Class Roll': 'enrollment'})
### END SOLUTION

In [8]:
### BEGIN HIDDEN TESTS (5)
from pandas.testing import assert_frame_equal
df3_ = df.rename(columns={'Class Roll': 'enrollment'})
#
#
#
assert_frame_equal(df3, df3_), "The correct syntax is df.rename(columns = {old_name:new_name})"
print("Correct!")
### END HIDDEN TESTS

Correct!

[Back to top](#Index:) 

### Question 4
    
*5 points*

Convert the entries from `df3` in the column `Observation (Marks: 20)` from integers to floats. Assign the result to `df4`.

*Hint: use the function `.to_numeric()` by setting the argument `downcast = float`*

In [9]:
### GRADED

### YOUR SOLUTION HERE
df4 = None 

### BEGIN SOLUTION
df4 = pd.to_numeric(df3["Observation (Marks: 20)"], downcast = "float")
### END SOLUTION

In [10]:
### BEGIN HIDDEN TESTS (5)
df4_ = pd.to_numeric(df3_["Observation (Marks: 20)"], downcast = "float")
#
#
#
assert df4_.all()== df4.all(), "Make sure you used `.to_numeric()` correctly and that you set `downcast = 'float'`"
print("Correct!")
### END HIDDEN TESTS

Correct!

[Back to top](#Index:) 

### Question 5
    
*5 points*


What is the type of `df4`? 
- a) A dictionary 
- b) A pandas DataFrame
- c) A pandas series
- d) A list

Assign the letter corresponding to your choice as a string to `ans5`.

In [11]:
### GRADED

### YOUR SOLUTION HERE
ans5 = None 

### BEGIN SOLUTION
ans5 = 'c'
### END SOLUTION

In [12]:
### BEGIN HIDDEN TESTS (5)
ans5_ = 'c'
#
#
#
assert ans5 == ans5_, "Use the .type() to retrieve the type of df4"
print("Correct!")
### END HIDDEN TESTS

Correct!

[Back to top](#Index:) 

## %subtitle%
You will often have missing or duplicate data in your dataset. It is important that you know how to work through this issue without fundamentally impacting the results of your analysis. The first sentinel value used by Pandas is `None`, a Python singleton object that is often used for missing data in Python code. Because it is a Python object, `None` cannot be used in any arbitrary NumPy/Pandas array, but only in arrays with data type `object`.
The other missing data representation, `NaN` (acronym for Not a Number), is different; it is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation. A complete guide about how to handle missing values values in pandas can be found [here](https://jakevdp.github.io/PythonDataScienceHandbook/03.04-missing-values.html).


Next, we will fill in missing values with `Nan`. In another column, we will drop all `Nan` values. We will also drop all duplicate values. 

### Question 6
    
*5 points*



Take the column `CT-2 (Marks: 20)` of the DataFrame `df3` and fill the missing values with the mean value of that column. Assign the resulting Series to the variable `s6`.

In [13]:
### GRADED

### YOUR SOLUTION HERE
s6 = None 

### BEGIN SOLUTION
s6 = df3['CT-2 (Marks: 20)'].fillna( df3['CT-2 (Marks: 20)'].mean()) 
### END SOLUTION

In [14]:
### BEGIN HIDDEN TESTS (5)
from pandas.testing import assert_series_equal
s6_ = df3_['CT-2 (Marks: 20)'].fillna( df3_['CT-2 (Marks: 20)'].mean()) 
#
#
#
assert_series_equal(s6, s6_), "Make sure you haven't made any typos and that you used the method `.fillna()`"
print("Correct!")
### END HIDDEN TESTS

Correct!

[Back to top](#Index:) 

### Question 7
    
*5 points*

Drop all of the Nan entries in `df3`. Assign the result to `df7`.

In [15]:
### GRADED

### YOUR SOLUTION HERE
df7 = None 

### BEGIN SOLUTION
df7 = df3.dropna()
### END SOLUTION

In [16]:
### BEGIN HIDDEN TESTS (5)
from pandas.testing import assert_frame_equal
df7_ = df3.dropna()
#
#
#
assert_frame_equal(df7, df7_), "Make sure you have used the function .dropna()"
print("Correct!")
### END HIDDEN TESTS

Correct!

[Back to top](#Index:) 

### Question 8
    
*5 points*

Compute the mean of `enrollment` in the DatFrame `df3`. Assign the result to `ans8`.

In [17]:
### GRADED

### YOUR SOLUTION HERE
ans8 = None 

### BEGIN SOLUTION
ans8 = np.mean(df3.enrollment)
### END SOLUTION

In [18]:
### BEGIN HIDDEN TESTS (5)
ans8_ = np.mean(df3_.enrollment)
#
#
#
assert ans8 == ans8_, "Make sure you have used the `NumPy` function `.mean()`"
print("Correct!")
### END HIDDEN TESTS

Correct!

[Back to top](#Index:) 

### Question 9
    
*5 points*

Drop all of the duplicate values in the DataFrame `df3`. Assign the new result to `df9`.

In [19]:
### GRADED

### YOUR SOLUTION HEREd
df9 = None 

### BEGIN SOLUTION
df9 = df3.drop_duplicates()
### END SOLUTION

In [20]:
### BEGIN HIDDEN TESTS (5)
from pandas.testing import assert_frame_equal
df9_ = df9.drop_duplicates()
#
#
#
assert_frame_equal(df9, df9_), "Make sure you have used the function .drop_duplicates()"
print("Correct!")
### END HIDDEN TESTS

Correct!